{% extends 'base.html' %}
{% block body %}
<div class="container-fluid">
  <div class="row">
    <div class="col-md-12">
      <div class="banner">
        <div class="banner-text">
          <h1>ToDo</h1>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="container shadow custom-container">
  <div class="row">
    <div class=" col-md-6" style=" text-align: center; padding: 20px;">
      <div class="card shadow">
      <div class="card-body">
      <form method="post">
        {% csrf_token %}
        <div class="form-group row">
          <label for="task" class="col-sm-4 col-form-label" >Task Name:</label>
          <div class="col-sm-5">
            <input type="text" class="form-control form-control-sm" id="task" name="task" placeholder="Enter Task Name">
          </div>
        </div>
        <div class="form-group row">
          <label for="priority" class="col-sm-4 col-form-label">Priority:</label>
          <div class="col-sm-5">
            <input type="text" class="form-control form-control-sm" id="priority" name="priority" placeholder="Enter the priority">
          </div>
        </div>
        <div class="form-group row">
          <label for="date" class="col-sm-4 col-form-label">Date:</label>
          <div class="col-sm-5">
            <input type="date" class="form-control form-control-sm" id="date" name="date">
          </div>
        </div>
        <button type="submit" class="btn btn-primary btn-sm">Submit</button>
      </form>
      </div>
      </div>
    </div>

    <div class=" col-md-6" style=" padding: 20px;">
      <div class="card shadow">
        <div class="card-body">
          <h3 class="card-title">Task to be completed:</h3><hr>
          {% for i in task1 %}
          <h5>{{ i.name }}</h5>
          <p><b>{{ i.priority }}</b></p>
          <p>{{ i.date }}</p>
          <a class="btn btn-warning btn-sm" href="{% url 'delete' i.id %}">Done</a>
          <a class="btn btn-success btn-sm" href="{% url 'update' i.id %}">Update</a><hr>
          {% endfor %}
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}
