{% extends 'base.html' %}
{% block body %}
<div class="container">
    <div class="card shadow">
        <div class="card-header">
          <div class="card-title">Task Update</div>
            <div class="card-header">
                <form method="post">
                    {% csrf_token %}
                    {{ form.as_p }}
                    <button type="submit" class="btn btn-primary btn-sm">Confirm</button>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}