body {
    font-family: 'Roboto', sans-serif;
}

.nav-item {
    letter-spacing: .2em;
    font-size: 16px;
    text-transform: uppercase;
}

.dropdown-item {
    letter-spacing: .2em;
    font-size: 15px;
    text-transform: uppercase;
}

.myfooter {
    background-color: Plum;
    height: 60px;
}

.myfooter p{
    padding-top: 20px;
    font-size: 14px;
}

/*** Category Part ***/

.my_row_class {
    padding-top: 15px;
}

.my_row_class .mx-auto{
    color: #000;
    font-size: 12px;
}

.my_image {
    width: 100%;
    height: auto;
}

.my_title {
    font-size: 20px;
    text-transform: uppercase;
    letter-spacing: .2em;
}

.my_padding {
    padding: 5px;
}

.my_bottom_margin {
    margin-bottom: 20px;
}

.card-body h4 {
    font-size: 14px;
    text-transform: uppercase;
    letter-spacing: .2em;
}

.my_prod_row_class {
    padding-top: 15px;
    padding-bottom: 20px;
}

.my_prod_row_class .mx-auto {
    color: #000;
    font-size: 20px;
    text-decoration: none;
}

.my_prod_title {
    font-size: 16px;
    text-transform: uppercase;
    letter-spacing: .2em;
    padding-top: 15px;
    padding-bottom: 10px;
}

.my_prod_text {
    padding-right: 20px;
}

.my_bottom_padding {
    padding-bottom: 20px;
}

.my_search_text {
    padding-top: 20px;
}

.my_custom_table {
    min-width: 400px;
    font-size: 14px;
}

.my_custom_thead {
    font-weight: normal;
    color: darkgray !important;
    text-transform: uppercase;
    letter-spacing: .2em;
}

.custom_a {
    text-decoration: none;
}

.custom_icon {
    text-decoration: none;
    color: darkgray !important;
}

.custom_icon_disabled {
    text-decoration: none;
    color: lightgray !important;
}


.custom_button {
    text-decoration: none;
    margin-top: 5px;
}