{% extends 'base.html' %}
{% load static %}

{% block meta %}
    {% if category %}
        {{ category.description|truncatewords:155 }}
    {% else %}
        Welcome to URBAN  TROVE!
    {% endif %}
{% endblock %}

{% block title %}
    {% if category %}
        {{ category.name }} - URBAN TROVE
    {% else %}
        Lookout for Amazing Deals! - URBAN TROVE
    {% endif %}
{% endblock %}

{% block content %}
    {% if category %}
        <div>
            <div class="row my_row_class">
                <div class="mx-auto">
                    <p><a href="{% url 'shop:allprodcat' %}">Our Collections</a> </p>

                </div>
            </div>
        </div>
    {% endif %}
    <div class="mx-auto">
        {% if category %}
        <img class="my_image" src="{{ category.image.url }}" alt="{{ category.name }}">
    </div>
    <br>
    <div>
        <h1 class="text-center my_title">{{ category.name }}</h1>
        <p class="text-justify">{{ category.description }}</p>
    </div>
    {% else %}
    <div>
        <img class="my_image" src="{% static 'img/ut_banner.png' %}" alt="Our Proucts" style="width: 100%; height: auto;">
    </div>
    <br>
    <div class="container-fluid"  style="max-width: 90%;">
        <h1 class="text-center my_title">Our Collections</h1>
        <p class="text-center">Welcome to Our Collections: Where Style Meets Urban Edge. Discover the heart and soul of our urban clothing site as you explore our meticulously curated collections. Immerse yourself in a world of fashion-forward designs that effortlessly blend streetwear with contemporary trends. From statement-making tops to head-turning bottoms, our collections embody the vibrant spirit of urban culture. Unleash your personal style and express your individuality with our carefully selected pieces that capture the essence of urban fashion. Whether you're seeking bold prints, edgy details, or versatile essentials, Our Collections page is your gateway to a diverse range of urban-inspired outfits that will make you stand out from the crowd. Step into the urban fashion scene and unleash your unique style with our extraordinary collections.</p>
    </div>
    {% endif %}
    <div class="container">
        <div class="row mx-auto">
            {% for product in products.object_list %}
            <div class="my_bottom_margin col-9 col-sm-12 col-md-4 col-lg-4">
                <div class="card text-center" style="min-width: 18rem;">
                    <a href="{{ product.get_url }}"><img class="card-img-top my_image" src="{{ product.image.url }}" alt="{{ product.name }}" ></a>
                    <div class="card-body">
                        <h4>{{ product.name }}</h4>
                        <p>${{ product.price }}</p>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
        <div class="mx-auto">
            {% if products.paginator.num_pages > 1 %}
            <hr>
            <div class="text-center">
                {% for pg in products.paginator.page_range %}
                <a href="?page={{pg}}" class="btn btn-light btn-sm {% if products.number == pg %} active {% endif %}">{{pg}}</a>
                {% endfor %}
            </div>
            {% endif %}
        </div>
        <br>
    </div>
{% endblock %}