{% extends 'base.html' %}
{% block body %}
<div class="container">
  <div class="row">
    <div class="col-md-4">
      <img src="{{ movie.img.url }}" style="height: 250px; margin: 10px; background-size: cover;">
    </div>
    <div class="col-md-8">
      <h1>{{ movie.name }} ({{ movie.year }})</h1>
      <p style="max-width: 700px;">{{ movie.desc }}</p>
      <a class="btn btn-warning" href="{% url 'movieapp:update' movie.id %}">Update</a>
      <a class="btn btn-danger" href="{% url 'movieapp:delete' movie.id %}">Delete</a>
    </div>
  </div>
</div>

{% endblock %}